#footer {
    margin-top: 4rem;
    min-height: 150px;
}

#banner {
    padding: 1em;
    background-color: var(--main-color-blue);
    justify-items: center;
    display: flex;
    justify-content: space-evenly;
    color: var(--main-color-white);
    font-family: var(--main-font-bold);
    font-size: 0.7em;
    text-align: center;
}

  /* Styling desktop  */

  @media (min-width: 992px) {
    #banner {
        font-size: 1.1em;
    }
  }
