#footer {
    margin-top: 4rem;
    min-height: 150px;
}

#banner {
    padding: 1em;
    background-color: var(--main-color-blue);
    justify-items: center;
    display: flex;
    justify-content: space-evenly;
    color: var(--main-color-white);
    font-family: var(--main-font-bold);
    font-size: 0.7em;
    text-align: center;
}

#newsletterContainer {
  margin: 2em;

  h3 {
    font-size: 1em;
    font-style: italic;
  }
}

form {
  border: none;
  padding: 0;
  width: 100%;
  gap: 0.7em;
  
  input {
  padding: 0.6em 1em;
  border: 1.5px solid #d8d8d8;
  font-family: var(--main-font-bold);
  font-size: 0.85em;
  color: var(--main-color-blue);
  }

  ::placeholder {
  color: var(--main-color-white);
  font-family: var(--main-font-bold);
  font-size: 0.85em;
  }

  .styled_button {
    width: 100%;
    font-size: 0.8em;
    padding: 0.6em;
  }

}

#admin_nav {
  background-color: var(--background-color);
  display: flex;
  justify-content: right;
  padding: 0.4em;
  align-items: center;

  .link_adminpage,
  .button_to_adminpage {
    color: var(--main-color-white);
    text-decoration: underline;
    font-size: 0.7em;
    font-family: var(--main-font-bold);
    margin: 0 1em;
    width: fit-content;
  }

  button {
    background: none;
  }

  form {
    border: none;
    display: flex;
    align-items: center;
    padding: 0;

    input {
    border: 1.5px solid #d8d8d8;
    margin: 0;
    font-size: 0.85em;
  }

  }
}

  /* Styling desktop  */

  @media (min-width: 768px) {
    #banner {
        font-size: 1.1em;
    }

    #newsletterContainer {
      margin: 2em 10em;

      h3 {
        font-size: 1.5em;
      }
    }

    form {
      width: 400px;
    }

    #admin_nav {
      .link_adminpage,
      .button_to_adminpage {
        margin: 0.5em;
      }
    }
}
