/* WelcomeSection */

#welcome_image {
    height: 100vh;
    background-size: cover;
    background-image: url(/img/other/front_image.jpg);
  }

  #welcome_message {
    position: absolute;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    h1 {
      font-size: 2.3em;
    }

    h2 {
      font-family: var(--main-font-regular);
      font-size: 1.2em;
      margin-bottom: 3em;
    }

  }


  #explore_link {
    font-size: 1.5em;
    font-family: var(--main-font-bold);
    text-decoration: none;
    color: var(--main-color-blue);
    transition: all 0.4s ease;
  }
  
  #explore_link:hover {
    color: rgb(226, 226, 226);
    text-shadow: -1px 2px var(--main-color-blue);
    transition: all 0.4s ease;
  }

  .latest_news {
    overflow: auto;
    white-space: nowrap;
    margin: 0 -2em;
    padding: 0 0 1.2em;

    .article_grid {
      overflow: auto;
      width: auto;
      display: inline-flex;
      gap: 5em;
      padding: 0 2em;
    }

    .article_card {
      width: 270px;
    }
  }

  /* Styling desktop  */
@media (min-width: 768px) { 

  .latest_news {
    margin: 0 -10em;

    .article_grid {
      padding: 0 10em;
    }

    .article_card:hover {
    width: 370px;
    transition: all 0.4s ease;
    }
  }

}

