/* Navbar */

.navbar {
    background-color: var(--background-color);
    position: fixed;
    top: 0;
    height: 65px;
    padding: 10px 20px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    z-index: 1000;
  }
  
  .navbar .logo {
    justify-self: center;
  }
  
  .navbar img {
    height: 45px;
  }
  
  .navbar .menu_trigger {
    background: none;
    width: 3em;
    height: 3em;
  }
  
  .navbar .menu_trigger > * {
    color: var(--main-color-blue);
    height: 1.6em;
    width: 1.6em;
  }
  
  .navbar ul {
    display: none;
    list-style: none;
  }
  
  .navbar ul.is_open {
    display: block;
    position: absolute;
    top: 64px;
    left: 0;
    width: 100%;
    padding: 5px 20px 10px;
    background-color: var(--background-color);
  }
  
  .navbar li {
    margin: 0.7em 0;
  }
  
  .navbar a {
    font-family: var(--main-font-bold);
    font-size: 0.9em;
    text-decoration: none;
    color: var(--main-color-blue);
  }
  
  .navbar a:hover {
    color: var(--main-color-white);
    transition: all 0.3s ease;
  }

  /* Styling desktop  */

@media (min-width: 768px) {

    /* Navbar */
  
    .navbar .menu_trigger {
      display: none;
    }
  
    .navbar .logo {
      justify-self: flex-start;
    }
  
    .navbar ul {
      display: flex;
      justify-content: center;
      gap: 2.5em;
    }
  
    .navbar ul li {
      display: inline;
    }
  
    .navbar .buy_ticket {
      width: max-content;
      padding: 0 1em;
      justify-self: flex-end;
    }
  
  }