/* Article Grid */
#article_grid {
    display: grid;
    grid-gap: 3.5em;
    grid-template-columns: repeat(auto-fit, 270px);
    justify-content: center;
    margin: 2em 0;
}

/* Article card */

.article_card {
    color: var(--main-color-blue);
    text-align: end;
}

.article_card_info {
    font-family: var(--main-font-bold);
    font-size: 0.8em;
    padding: 0.5em 0;
}

.article_card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

/* Styling desktop  */
@media (min-width: 992px) {

    .article_grid {
        display: grid;
        grid-template-columns: 28em auto;
        gap: 3em;
    }

    .article_img {
        width: 25em;
        height: 30em;
        justify-self: right;
        object-fit: cover;
    }

}