/* Article Grid */
#article_grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 270px);
    gap: 4em;
}

/* Article card */

.article_card {
    color: var(--main-color-blue);
    text-align: end;
    width: 270px;
    transition: all 0.4s ease;
}

.article_card_info {
    font-family: var(--main-font-bold);
    font-size: 0.8em;
    padding: 0.5em 0;
}

.article_card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

/* Styling desktop  */
@media (min-width: 768px) {

    .article_grid {
        display: grid;
        grid-template-columns: 28em auto;
        gap: 5em;
    }

    .article_img {
        height: 30em;
        justify-self: right;
        object-fit: cover;
    }

}