/* Selectors */

#program_selectors {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    column-gap: 1em;
    margin-bottom: 1em;
}

#program_selectors .selector_name {
    color: var(--main-color-blue);
    background: none;
    padding: 0;
}

#program_selectors .selector_list {
    display: grid;
    gap: 1em;
    color: var(--main-color-blue);
    border: none;
    font-size: 0.8em;
}

hr {
    border: 2px solid var(--main-color-blue);
    border-radius: 5px;
    margin: 2em 0;
}

/* Artist Grid */
.artist_grid {
    display: grid;
    gap: 2em;
    justify-content: center;
}

/* Artist card */

.artist_card {
    background-color: var(--main-color-blue);
    color: var(--main-color-white);
    text-align: end;
    width: 300px;
}

.artist_card_info {
    padding: 1em;
    font-family: var(--main-font-bold);
    display: grid;
    justify-items: right;
}

.artist_card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.admin_artist_buttons {
    display: grid;
    gap: 0.5em;
    padding: 1em;
    width: fit-content;
    justify-self: right;
}

.artist_update_btn,
.artist_delete_btn {
    font-size: 0.8em;
    justify-self: right;
}

.artist_update_btn:hover,
.artist_delete_btn:hover {
    text-decoration-line: underline;
    color: var(--main-color-white);
}

.artist_name {
    margin-bottom: 0.5em;
}

.artist_time,
.artist_date,
.artist_stage {
    font-size: 0.7em;
}

/* Artist page */

.artist_img {
    width: 100%;
    height: 25em;
    object-fit: cover;
}

.artist_spotify {
    width: calc(100% - 4em);
    margin: 2em;
}

.admin_form {
    justify-self: center;

    select {
    width: 100%;
    padding: 0.6em 1em;
    border: 1.5px solid #d8d8d8;
    font-family: var(--main-font-bold);
    font-size: 0.85em;
    color: var(--main-color-blue);
    }

    label {
    font-family: var(--main-font-bold);
    font-size: 0.85em;
    color: var(--main-color-blue);
    }
}

/* Styling desktop  */
@media (min-width: 768px) {

    /* Selectors */

    hr {
        width: 28em;
    }

    #program_selectors {
    flex-direction: row;
    column-gap: 4em;

    }

    /* Artist page */

    .artist_card {
        width: 370px;
    }

    .artist_grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, 370px);
        gap: 4em;
    }

    .artist_img {
        height: 30em;
        justify-self: right;
    }

    .artist_spotify {
        width: calc(100% - 20em);
        margin: 4em 10em;
        height: 20em;
    }

}